/* Default */
:root {
  --mainColour: rgba(153,51,51,1)
}
html, div, img, menu, nav, header, body, footer {
  margin: 0;
  padding: 0;
}
html {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  text-align: center;
  width: 100vw;
}
button.language {
  background: none;
  border: none;
  cursor: pointer;
  margin: .25vw;
  padding: 0;
}
div#languagebar{
  display: inline-block;
}
nav {
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 5px 2px black;
}
nav * {
  vertical-align: text-bottom;
}
nav > img {
  display: inline-block
}
nav > menu {
  display: inline-block
}
nav > menu > a {
  color: black;
  font-size: 1.5rem;
  margin-left: .5vw;
  margin-right: .5vw;
  text-decoration: none;
}
.arrow {
  background: url('/img/arrow.png');
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 40px;
  outline: none;
  width: 40px;
}
#arrowLeft {
  transform: rotate(180deg);
  margin-right: 20px;
}
.pageContainer {
  box-sizing: border-box;
  margin-top: 2vh;
  padding: 1rem;
  white-space: pre-wrap;
}
.pagePic, .pageText {
  box-sizing: border-box;
  display: inline-block;
  height: 60vh;
  max-height: 60vh;
  vertical-align: top;
}
.pageText {
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 5px 2px black;
  max-width: 35vw;
  min-width: 250px;
  overflow-y: scroll;
  padding: 1rem;
  text-align: left;
  width: 35vw;
}
.pagePic {
  max-width: 35vw;
  min-width: 250px;
  width: 35vw; 
}
.pagePic img {
  box-shadow: 0 0 5px 2px black;
  height: 55vh;
  max-height: 55vh;
  max-width: 30vw;
}
.submenu {
  min-height: 5vh;
}
.submenu button {
  background: none;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  margin: 5px;
}
.popup {
  background: white;
  position: absolute;
  top: 15vh;
  height: 70vh;
  width: 60vw;
  left: 0;
  right: 0;
  margin: auto;
}
.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.popupButtonrow {
  text-align: right;
}
.popupButtonrow button{
  background: rgba(255, 80, 80, 1);
  border: 1px solid black;
  min-width: 40px;
}
.popupContent {
  padding: .5vw;
  text-align: middle;
  overflow-y: scroll;
  max-height: 90%;
}
.popupContent table {
  display: inline-block;
  text-align: left;
}
td {
  padding: 5px;
}
td {
  border: 1px solid rgba(180, 180, 180, 1);
}
footer section {
  display: inline-block;
  background-color: rgba(255, 255, 255, .5);
  width: 65vw;
  padding: 5px;
}

footer section * {
  vertical-align: middle;
  margin: 3px;
}

footer section a {
  text-decoration: none;
  color: black;
}
footer section a:hover {
  text-decoration: underline var(--mainColour);
}

img.logo {
  width: 20px;
  height: 20px;
}